@using ForagerSite.Services.Interfaces
@rendermode InteractiveServer
@inject IUserSessionService session
@inject NavigationManager Navigation

@if (session.IsAuthenticated)
{
    <div class="nav-item px-3">
        <button class="nav-link btn btn-link" @onclick="HandleLogout">
            <span class="bi bi-box-arrow-right"></span>Log Out
        </button>
    </div>
}

@code {

    private void HandleLogout()
    {
        session.Logout();
        Navigation.NavigateTo("/");
    }

}