@page "/RecoverLoginInfo"
@using DataAccess.Models;
@using ForagerSite.Services;
@using ForagerSite.Services.Interfaces
@using Microsoft.AspNetCore.Components.Routing
@inject IUserService userService
@rendermode InteractiveServer
@inject NavigationManager navigationManager
@inject HttpClient Http

<PageTitle>RecoverLoginInfo</PageTitle>

<h3>Recover Password</h3>

<div>

    <div>
        <label for="email">Enter your email address:</label>
        <input type="email" @bind="email" required />
        <button @onclick="Submit">Recover Password</button>
    </div>
    @if (_message != null)
    {
        <p>@_message</p>
    }

</div>

@code {

    private string email;
    private string _message;

    private async Task Submit()
    {
        var response = await Http.PostAsJsonAsync("api/recover-password", new { email });
        if (response.IsSuccessStatusCode)
        {
            _message = "Password recovery email sent.";
        }
        else
        {
            _message = "Error sending recovery email.";
        }
    }

}
