@page "/RecoverLoginInfo"
@using ForagerSite.Services;
@using ForagerSite.Models;
@inject UserService userService
@rendermode InteractiveServer

<PageTitle>RecoverPassword</PageTitle>

<h3>Recover Password</h3>

@code {

}
