@page "/map"

@using Newtonsoft.Json
@using ForagerSite.Services
@using ForagerSite.Models
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
@inject UserStateService userStateService
@inject UserService userService
@inject UserFindService userFindService



<div id="map" style="height: 500px; width: 100%;"></div>

<div id="filters">
    <button size="100px" id="get-all-finds" class="btn-primary" @onclick="_GetAllFinds"></button>
    <button id="get-my-finds" class="btn-primary" @onclick="_GetMyFinds"></button>
    <button id="get-friends-finds" class="btn-primary"></button>
</div>

@code {

    private static Map _instance;

    private List<UserFindLocation> _userFindLocations;

    private List<UserFindsViewModel> _userFindsViewModels;

    public bool currentUserFilter = true;

    public bool allUserFilter;

    public bool friendUserFilter;

    static readonly List<string> MapFilters = new List<string>
    {
        "UserOnly", "AllUsers", "FriendUsers"
    };

    public string mapFilter { get; set; } = MapFilters[0];

    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (firstRender)
    //     {
    //         var user = userStateService.CurrentUser.user;

    //         if (user != null)
    //         {
    //             var settings = new JsonSerializerSettings
    //                 {
    //                     ReferenceLoopHandling = ReferenceLoopHandling.Ignore,
    //                     Formatting = Formatting.Indented
    //                 };

    //             _userFindsViewModels = await userFindService.GetUserFindsViewModels(user.UsrId);
    //             var json = JsonConvert.SerializeObject(_userFindsViewModels, settings);

    //             await _InitializeMap(json, user.UsrId);
    //         }
    //     }
    // }

    // private async Task _InitializeMap(string json, Guid currentUserId)
    // {
    //     Console.WriteLine(json);
    //     await JSRuntime.InvokeVoidAsync("initializeMap", json, currentUserId.ToString());
    // }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var user = userStateService.CurrentUser.user;

            if (user != null)
            {
                _userFindsViewModels = await userFindService.GetUserFindsViewModels(user.UsrId);
                var json = JsonConvert.SerializeObject(_userFindsViewModels, new JsonSerializerSettings
                    {
                        ReferenceLoopHandling = ReferenceLoopHandling.Ignore,
                        Formatting = Formatting.Indented
                    });

                await JSRuntime.InvokeVoidAsync("initializeMap", json, user.UsrId.ToString(), mapFilter);
            }
        }
    }

    private async Task _GetMyFinds()
    {
        var user = userStateService.CurrentUser.user;

        // currentUserFilter = true;
        // allUserFilter = false;
        mapFilter = MapFilters[0];

        var settings = new JsonSerializerSettings
            {
                ReferenceLoopHandling = ReferenceLoopHandling.Ignore,
                Formatting = Formatting.Indented
            };
        if (user != null)
        {
            _userFindsViewModels = await userFindService.GetUserFindsViewModels(user.UsrId);
            var json = JsonConvert.SerializeObject(_userFindsViewModels, settings);

            await JSRuntime.InvokeVoidAsync("initializeMap", json, user.UsrId.ToString(), mapFilter);
        }

    }

    private async Task _GetAllFinds()
    {
        // allUserFilter = true;
        // currentUserFilter = false;
        mapFilter = MapFilters[1];

        var user = userStateService.CurrentUser.user;

        var settings = new JsonSerializerSettings
            {
                ReferenceLoopHandling = ReferenceLoopHandling.Ignore,
                Formatting = Formatting.Indented
            };

        _userFindsViewModels = await userFindService.GetUserFindsViewModels();

        var json = JsonConvert.SerializeObject(_userFindsViewModels, settings);

        await JSRuntime.InvokeVoidAsync("initializeMap", json, user.UsrId.ToString(), mapFilter);
    }


    [JSInvokable]
    public static async Task<UserFind> GetFindById(string findId)
    {
        if (string.IsNullOrEmpty(findId) || !Guid.TryParse(findId, out var guidId))
        {
            throw new ArgumentException($"Invalid GUID format, Received findId: {findId}");
        }

        var userFindService = ServiceLocator.ServiceProvider.GetService<UserFindService>();
        return await userFindService.GetFindById(guidId);
    }

    [JSInvokable]
    public static async Task<string> CreateFind(
    string name,
    string speciesName,
    string speciesType,
    string useCategory,
    string features,
    string lookalikes,
    string harvestMethod,
    string tastesLike,
    string description,
    double lat,
    double lng,
    string mapFilter)
    {
        var userStateService = ServiceLocator.ServiceProvider.GetService<UserStateService>();

        var user = userStateService.CurrentUser.user;

        Guid userId = user.UsrId;

        var userFindService = ServiceLocator.ServiceProvider.GetService<UserFindService>();
        await userFindService.CreateFind(
            userId,
            name,
            speciesName,
            speciesType,
            useCategory,
            features,
            lookalikes,
            harvestMethod,
            tastesLike,
            description,
            lat,
            lng
        );

        var updatedViewModels = new List<UserFindsViewModel>();

        if (mapFilter == "UserOnly")
        {
            updatedViewModels = await userFindService.GetUserFindsViewModels(user.UsrId);
        }
        if (mapFilter == "AllUsers")
        {
            updatedViewModels = await userFindService.GetUserFindsViewModels();
        }


        var settings = new JsonSerializerSettings
            {
                ReferenceLoopHandling = ReferenceLoopHandling.Ignore
            };

        return JsonConvert.SerializeObject(updatedViewModels, settings);
    }

    [JSInvokable]
    public static async Task<string> UpdateFind(
    string findId, 
    string name,
    string speciesName,
    string speciesType,
    string useCategory,
    string features,
    string lookalikes,
    string harvestMethod,
    string tastesLike,
    string description,
    double lat,
    double lng,
    string mapFilter)
    {
        var userStateService = ServiceLocator.ServiceProvider.GetService<UserStateService>();
        var userFindService = ServiceLocator.ServiceProvider.GetService<UserFindService>();
        var user = userStateService.CurrentUser.user;

        Guid findGuid;
        if (Guid.TryParse(findId, out findGuid))
        {
            await userFindService.UpdateFind(
                findGuid,
                name,
                speciesName,
                speciesType,
                useCategory,
                features,
                lookalikes,
                harvestMethod,
                tastesLike,
                description,
                lat,
                lng
            );
           
            var updatedViewModels = new List<UserFindsViewModel>();

            if (mapFilter == "UserOnly")
            {
                updatedViewModels = await userFindService.GetUserFindsViewModels(user.UsrId);
            }
            if (mapFilter == "AllUsers")
            {
                updatedViewModels = await userFindService.GetUserFindsViewModels();
            }

            var settings = new JsonSerializerSettings
                {
                    ReferenceLoopHandling = ReferenceLoopHandling.Ignore
                };

            return JsonConvert.SerializeObject(updatedViewModels, settings);
        }
        else
        {
            throw new ArgumentException("Invalid GUID format", nameof(findId));
        }
    }


    [JSInvokable]
    public static async Task<string> DeleteFind(string findId, string mapFilter)
    {
        var userStateService = ServiceLocator.ServiceProvider.GetService<UserStateService>();
        var userFindService = ServiceLocator.ServiceProvider.GetService<UserFindService>();
        var user = userStateService.CurrentUser.user;

        Guid findGuid;

        if (Guid.TryParse(findId, out findGuid))
            await userFindService.DeleteFind(findGuid);                              

        var updatedViewModels = new List<UserFindsViewModel>();

        if (mapFilter == "UserOnly")
        {
            updatedViewModels = await userFindService.GetUserFindsViewModels(user.UsrId);
        }
        if (mapFilter == "AllUsers")
        {
            updatedViewModels = await userFindService.GetUserFindsViewModels();
        }

        var settings = new JsonSerializerSettings
            {
                ReferenceLoopHandling = ReferenceLoopHandling.Ignore
            };

        return JsonConvert.SerializeObject(updatedViewModels, settings);
    }




}


