@page "/"
@using ForagerSite.Services;
@using DataAccess.Models;
@rendermode InteractiveServer
@inject NavigationManager navigationManager
@inject IUserService userService
@inject IJSRuntime JSRuntime
@inject UserStateService userStateService



@if (userStateService.IsAuthenticated)
{
    <p>Welcome, @userStateService.CurrentUser.user.UsrName</p>
    <ForagerSite.Components.Map.Map/>
}
else
{
    <ForagerSite.Components.Pages.LoginAndRegistration.Login />
}

@code {





}