@page "/"
@using ForagerSite.Services
@rendermode InteractiveServer
@inject NavigationManager navigationManager
@inject UserStateService userStateService

@if (!_loaded)
{
    <p>Loading...</p>
}
else if (userStateService.IsAuthenticated)
{
    <p>Welcome, @userStateService.SessionUser!.DisplayName</p>
    <ForagerSite.Components.Map.Map />
}


@code {
    private bool _loaded;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        await userStateService.Load();
        _loaded = true;

        if (!userStateService.IsAuthenticated)
        {
            navigationManager.NavigateTo("/Login");
            return;
        }

        StateHasChanged();
    }
}
