@page "/Home"
@using ForagerSite.Services;
@using ForagerSite.Models;
@inject UserService userService
@inject NavigationManager navigationManager
@rendermode InteractiveServer



<PageTitle>Home</PageTitle>

<h3>Home</h3>





@code{
    
    
 

}