@page "/"
@using ForagerSite.Services
@using ForagerSite.Services.Interfaces
@rendermode InteractiveServer
@inject NavigationManager navigationManager
@inject IUserSessionService session

@if (!_loaded)
{
    <p>Loading...</p>
}
else if (session.IsAuthenticated)
{
    <p>Welcome, @session.SessionUser!.DisplayName</p>
    <ForagerSite.Components.Map.Map />
}


@code {
    private bool _loaded;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        await session.Load();
        _loaded = true;

        if (!session.IsAuthenticated)
        {
            navigationManager.NavigateTo("/Login");
            return;
        }

        StateHasChanged();
    }
}
