/*body {
}

.notification-item {
    padding: 10px;
    border-bottom: 1px solid #e9ecef;
}

.notification-meta {
    font-size: 0.85rem;
    opacity: 0.8;
}

.notification-empty {
    padding: 1rem;
    text-align: center;
    color: #6c757d;
}
.notification-badge {
    background-color: #dc3545;*/ /* Bootstrap danger */
    /*color: white;
    font-size: 0.75rem;
    padding: 0.25em 0.5em;
    border-radius: 999px;
}*/
